//
//  Release.xcconfig
//  Numero
//
//  Created by tskim on 07/10/2019.
//  Copyright © 2019 Facebook. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Pods/Target Support Files/Pods-App/Pods-App.release.xcconfig"
#include "../BuildConfig/BuildType/Release.BuildType.xcconfig"
#include "../BuildConfig/Common/Common.xcconfig"
#include "../BuildConfig/Common/Combine.xcconfig"

DISPLAY_NAME = iOS 빌드업
